.box{
    height:55px;
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(10,10,255,0.3);
    position: fixed;
}

.left-section {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.right-section {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.header_name {
    color: rgb(255,255,255);
    font-size: 28px;
}

.hamburger-menu {
    height: 28px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.hamburger-menu:hover {
   height: 30px;
}


.menu {
    color: rgb(255,255,255);
    font-size: 26px;
}
